<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <deviceDetectionManager defaultProvider="netbiscuits">
      <patch:attribute name="defaultProvider">custom</patch:attribute>
      <providers>
        <clear />
        <add name="custom" type="Sitecore.GeoIpNDeviceDetection.Extended.CustomDeviceInformationProvider, Sitecore.GeoIpNDeviceDetection.Extended" />
      </providers>
    </deviceDetectionManager>

  </sitecore>
</configuration>